<section class="main-product">
  <div class="main-product__content">
    <div class="main-product__images">
      {% if product.images.size > 1 %}
        <div class="main-product__thumbnails">
          {% for image in product.images %}
            <img
              class="main-product__thumbnail"
              src="{{ image | image_url: 'small' }}"
              alt="{{ image.alt | escape }}"
              width="100"
              height="100"
            >
          {% endfor %}
        </div>
      {% endif %}

      <div class="main-product__main-image">
        <img
          src="{{ product.featured_image | image_url: 'large' }}"
          alt="{{ product.title }}"
          width="100"
          height="100"
        >
      </div>
    </div>

    <div class="main-product__details">
      <h1 class="main-product__title">{{ product.title }}</h1>

      <p class="main-product__price">
        {% if product.compare_at_price > product.price %}
          <span class="main-product__compare-price">{{ product.compare_at_price | money }}</span>
        {% endif %}
        <span class="main-product__current-price">{{ product.price | money }}</span>
      </p>

      <div class="main-product__description">
        {{ product.description }}
      </div>

      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <button type="submit" class="main-product__add-to-cart">Add to Cart</button>
      </form>

      <!-- Social Share -->
      <div class="main-product__share">
        <p>Share this product:</p>
        <a
          href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}/products/{{ product.handle }}"
          target="_blank"
          aria-label="Share on Facebook"
          >Facebook</a
        >
        <a
          href="https://twitter.com/share?url={{ shop.url }}/products/{{ product.handle }}"
          target="_blank"
          aria-label="Share on Twitter"
          >Twitter</a
        >
        <a
          href="https://pinterest.com/pin/create/button/?url={{ shop.url }}/products/{{ product.handle }}"
          target="_blank"
          aria-label="Share on Pinterest"
          >Pinterest</a
        >
      </div>
    </div>
  </div>
</section>
